.style-background {
    background-color: #ffffff;
    padding: 10px 20px;                 
}
.style-card {
    background-color: #e0e3ec;
    border-radius: 20px;
    padding: 30px;
    margin: 30px 20px;
    box-shadow: 5px 5px 10px #161b1d38, -5px -5px 10px #fafbff; 
}

.flexbox-div {
    display: grid;
    gap: 10px;
    justify-items: stretch;
}

.content {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #f3eeee98;
    border-radius: 20px;
    padding: 35px;
    box-shadow: inset 3px 3px 10px #161b1d38, -1px -1px 40px #fafbff;
    
}

.order {
    display: flex;
    gap: 10px;
    align-items: center;
    align-content: space-evenly;
    margin: 5px;
}

.my-input {
    display: grid;
    width: 40px;
    border: none;
    box-shadow: inset 3px 3px 5px #00000038, -5px -5px 20px #fafbff;
    border-radius: 3px;
    text-align: left;
    padding: 6px;
    color: #56595a;
}

.my-input-f {
    border: none;
    box-shadow: inset 3px 3px 5px #00000038, -5px -5px 20px #fafbff;
    border-radius: 3px;
    text-align: left;
    text-size-adjust: 2px;
    padding: 6px 10px;
    color: #56595a; 
}

.boton-r {
    border-radius: 20px;
    border: none;
    background-color: #cccfd6;
    box-shadow: 3px 3px 5px #00000038;
    padding: 12px 70px;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #56595a;
}

.boton-r:hover {
    background-color: #c1c3c7;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #5b6975;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #5b6975;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #5b6975;
}

.botones {
    border-radius: 20px;
    border: none;
    background-color: #cccfd6;
    box-shadow: 3px 3px 5px #00000038;
    padding: 12px 70px;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #56595a;
}

.botones:hover {
    background-color: #c1c3c7;
}

.formulario-botones {
    display: grid;
    gap: 8px;
    align-items: center;
    margin: 30px;
}